#home{
    font-family: Courier;
    font-size: 20px;
    background-color: rgb(122, 79, 53);
    color: white;
    padding: 10px;
    position: relative;
    top: 160px;
    
}
.success p{
    color: white;
    font-family: Courier;
}

.success{
    text-align: center;
    background-image: url(../img/wholebackground.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 300px;

}

h1{
    font-size: 50px;
    font-family: Courier;
    color: rgb(255, 139, 72);
    -webkit-text-stroke-color: rgb(255, 255, 255);
    -webkit-text-stroke-width: .1px;
}

.Successfooter{
    text-align: center;
    background-color: rgb(122, 79, 53);
    padding: 15px;
    margin-top: 200px;

}